page-lcbo-search {
  .toolbar-background {
    background: transparent;
  }

  .navbar-title {
    height: 80px;
    color: white;
    font-family: "AvenirNext-DemiBold", sans-serif;
    font-size: 18px;
  }

  .text-input::placeholder{
    color: white;
    opacity: 0.7;
  }

  .text-input {
    color: white;
  }

  .searchbar {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 36px;
    width: 100%;
    color: white;
    padding-left: 20px;
    padding-right: 25px;
    max-width: 420px;
  }

  .search-products {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: "AvenirNext-DemiBold", sans-serif;
    font-size: 18px;
    opacity: 0.7;
  }

  .list-header {
    background: transparent;
  }

  .search-row {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
  }

  .search-btn {
    width: 100%;
    max-width: 115px;
    background: #1CA5FF;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    height: 36px;
  }

  .card-item {
    height: 70px;
  }

  .card-list {
    margin-top: 50px;
  }

  .list-header {
    color: white;
  }

  .even {
    background: #424242;
  }

  .odd {
    background: #4A4A4A;
  }

  .best-choice {
      border: 1px solid #32db64 !important;
  }

  .double-loader {
    text-align: center;
  }

  .search-empty-error {
    text-align: center;
    padding-top: 10px;
    font-family: "AvenirNext-DemiBold", sans-serif;
    color: red;
    font-size: 14px;
    position: relative;
    bottom: -15px;
  }

  .times-search-svg {
    text-align: right;
    position: absolute;
    right: 23px;
    top: 19px;
    z-index: 1000;
  }
}
