<ion-header>

  <ion-navbar text-center class="navbar-title">
    {{constants.lcboTitle}}
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="search-empty-error">{{searchEmpty}}</div>
  <ion-row class="search-row">
    <ion-col col-sm-8 col-md-8 col-lg-12 class="searchbar-col">
      <ion-input class="searchbar" [(ngModel)]="productSearch" [placeholder]="constants.searchPlaceholder" (keyup.enter)="searchProducts()"></ion-input>
      <img src="./assets/imgs/times-white.svg" class="times-search-svg" (click)="productSearch = ''"/>
    </ion-col>
    <ion-col col-4 class="search-btn-col">
      <button class="search-btn" (click)="searchProducts()">
        Search
      </button>
    </ion-col>
  </ion-row>
  <ion-list class="card-list">
    <ion-list-header *ngIf="product">{{constants.product}}</ion-list-header>
    <ion-item no-lines no-border class="card-item even">
      <page-product-card [product]="product"></page-product-card>
    </ion-item>
    <ion-list-header *ngIf="stores.getValue().length > 0">
      <ion-row>
        <ion-col col-6>
          {{constants.closest}}
        </ion-col>
        <ion-col col-6 text-right>
          {{constants.mapTip}}
        </ion-col>
      </ion-row>
    </ion-list-header>
    <div class="double-loader" *ngIf="isLoading">
      <img src="./assets/imgs/double_ring.svg"/>
    </div>
    <ion-item no-lines no-border (click)="visitLocation(store)"
      class="card-item" *ngFor="let store of stores | async; let i = index"
              [ngClass]="[i % 2 === 0 ? 'even' : 'odd', i === 0 ? 'best-choice' : '']">
      <page-store-card [store]="store"></page-store-card>
    </ion-item>
  </ion-list>
  <div class="search-products" *ngIf="stores.getValue().length === 0">{{constants.searching}}</div>
</ion-content>
