<ion-row>
  <ion-col col-2 text-center>
    <div class="quantity-title">{{constants.quantity}}</div>
    <div class="quantity-num">{{store.quantity}}</div>
  </ion-col>
  <ion-col col-8 class="title-col">
    <div class="store-title">{{store.name}}</div>
    <div class="store-location">{{store.address_line_1}}</div>
  </ion-col>
  <ion-col col-2 text-center>
    <div class="stock-title">{{constants.stock}}</div>
    <div class="stock-num">
      <object data="./assets/imgs/check.svg" type="image/svg+xml" *ngIf="store.quantity > 0"
              class="check-svg">
        <img src="./assets/imgs/check.svg" />
      </object>
      <object data="./assets/imgs/times.svg" type="image/svg+xml" *ngIf="store.quantity === 0"
              class="times-svg">
        <img src="./assets/imgs/times.svg" />
      </object>
    </div>
  </ion-col>
</ion-row>
