page-store-card {
  .stock-title, .quantity-title {
    font-family: "AvenirNext-Regular", sans-serif;
    font-size: 11px;
    color: white;
  }

  .quantity-num {
    font-family: "AvenirNext-Bold", sans-serif;
    font-size: 15px;
    color: white;
  }

  .store-title {
    font-family: "AvenirNext-Bold", sans-serif;
    font-size: 16px;
    color: white;
    letter-spacing: 0;
    text-align: left;
  }

  .title-col {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }

  .store-location {
    font-family: "AvenirNext-Regular", sans-serif;
    font-size: 14px;
    color: white;
  }

  .times-svg, .check-svg, .quantity-num  {
    position: relative;
    top: 3px;
  }
}
