page-product-card {

  .product-thumbnail {
    height: 40px;
  }

  .store-title {
    font-family: "AvenirNext-Bold", sans-serif;
    font-size: 16px;
    color: white;
    letter-spacing: 0;
    text-align: left;
  }

  .title-col {
    overflow-y: hidden;
    display: block;
    max-width: 100%;
    line-height: 40px;
    padding-right: 10px;
  }

}
