<ion-row *ngIf="product">
  <ion-col col-2 text-center>
    <img [src]="product.image_thumb_url ? product.image_thumb_url : './assets/imgs/alcohol.svg'" class="product-thumbnail">
  </ion-col>
  <ion-col col-10 class="title-col">
    <div class="store-title">{{product.name}}</div>
  </ion-col>
</ion-row>
